@media only screen and (min-width: 320px) {
  /** {
    border: 1px solid red;
  }*/
  .main-chart-container {
    position: relative;
    height: 40%;
    /*width: 76vw;*/
    padding-left: .5rem;
  }

  #dash-logo {
    padding: .5rem;
  }

  #cross {
    margin: auto auto .4rem auto;
  }

  #cross:after {
    margin: auto auto .4rem auto;
  }


}

@media only screen and (min-width: 768px) {
  #bell {
    margin-left: 70%;
    margin-top: 0;
    width: 1.5rem;
  }

  #vline {
    margin-top: 1%;
  }

  #prof-name {
    font-size: 1rem;
    margin-left: 85%;

  }

  main {
    width: calc(100% / 12 * 11);
  }

  #search {
    width: calc(100% / 12 * 5);
    height: 2rem;
    top: 20%;
    font-size: 1rem;
  }

  ::-webkit-input-placeholder {
    font-size: 1rem;
    color: lightgrey;
    padding: .3rem;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 1rem;
    color: lightgrey;
    padding: .3rem;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 1rem;
    color: lightgrey;
    padding: .3rem;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1rem;
    color: lightgrey;
    padding: .3rem;
  }

  .search {
    width: calc(100% / 12 * 10);

  }

  .left-dash {
    width: 2rem;
    float: left;
    position: relative;
    left: 2%;
    top: 2%;
  }

  .main-chart-container {
    position: relative;
    height: 30vh;
    width: 86vw;
    padding: 1rem;
  }

  #dash-logo {
    padding: .5rem;
  }

  #cross {
    margin: auto;
  }

  #cross:after {
    margin: auto;
  }

  .chartControls span {
    margin-right: 1rem;
  }

  #chartTitle {
    margin: 1rem 0 1rem 1rem;
  }

  .main-chart-container {
    height: 180px;
  }

  .sec-charts-container {
    display: flex;
  }

  .sec-chart {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .main-chart-container {
    margin-left: 1rem;
  }

  #cross {
    margin: auto;
  }

  #cross:after {
    margin: auto;
  }
}

@media only screen and (min-width: 1500px) {
  #cross {
    margin: auto auto auto 33%;
    height: 26.5px;
  }

  #cross:after {
    margin: auto auto auto 33%;
    left: -12px;
    width: 26.5px;
  }

  .main-chart-container {
    margin-left: 1rem;

  }
}
