@media only screen and (min-width: 767px) {


  header {
    height: 4rem;
  }

  #bell {
    width: 1.6rem;
    margin-top: 1%;
    margin-left: 70%;
  }

  #prof-name {
    font-size: .9rem;
    margin-left: 85%;
  }

  #search {
    line-height: 1.5rem;
  }

  main {
    width: calc(100% /12 * 10.5);
  }

  .main-chart-container {
      margin-left: 2rem;
  }

  #cross {
    padding-bottom: 1.5rem;
  }

  .sec-chart1 {
    float: left;
    width: 49.7%;
    border: 1px solid #d2cfd5;
    border-left: none;
    border-right: none;
    height: 300px;
    margin-bottom: 1rem;
  }

  .sec-chart2 {
    float: right;
    width: 50.1%;
    border: 1px solid #d2cfd5;
    border-right: none;
    height: 300px;
    margin-bottom: 1rem;
  }

  .sec-chart3 {
    float: left;
    width: 49.44%;
    border: 1px solid #d2cfd5;
    border-right: none;
    height: 602.5px;
  }

  .sec-chart4 {
    float: right;
    width: 50.25%;
    border: 1px solid #d2cfd5;
    border-right: none;
    height: 602.5px;
  }

  .sec-chart5 {
    float: left;
    width: 49.44%;
    border: 1px solid #d2cfd5;
    border-bottom: none;
    border-right: none;
    height: 352px;
  }

  .sec-chart6 {
    float: right;
    width: 50.25%;
    border: 1px solid #d2cfd5;
    border-right: none;
    border-bottom: none;
    height: 352px;
  }

.stats-box {
  display: flex;
  flex-direction: row;
}

.member-line {
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}

.chartControls span {
  margin-right: 1rem;
}

.bigger {
  height: 2rem;
}
.bigger1 {
  height: 9.4rem;
}

.form-grid {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.form-grid label {
  margin-top: .5rem;
}

.margin-right {
  margin-right: 1.7rem;
}

#time {
  margin-top: 4rem;
  margin-bottom: 0rem;
  width: 90%;
}

}

@media only screen and (min-width: 1023px) {

  .left-dash {
    /*margin-left: rem;*/
  }

  i {
    margin-left: 3rem;
  }

  #cross {
    margin-top: 1.7rem;
    margin-left: 11rem;
  }
  #time {
    width: 93%;
  }

}
